<template>
  <div>
    <ag-grid-vue
      style="width: 100%; height: 100%"
      class="ag-theme-alpine basic_table"
      :columnDefs="columnDefs"
      @grid-ready="onGridReady"
      :defaultColDef="defaultColDef"
      :rowModelType="rowModelType"
      :serverSideInfiniteScroll="true"
      :cacheBlockSize="rowModelType === 'clientSide' ? undefined : 10"
      @row-clicked="(rowData) => emit('rowClick', rowData)"
      :rowGroupPanelShow="rowGroupPanelShow"
      :groupAggFiltering="groupAggFiltering"
      :suppressColumnVirtualisation="true"
      :rowData="clientSideRowData"
      :grid-options="tableOptions"
    ></ag-grid-vue>
  </div>
</template>

<script setup lang="ts">
import { ref, onBeforeUnmount } from "vue";
import { AgGridVue } from "ag-grid-vue3";
import { useErrorStore } from "@/stores/errors";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";

import type {
  IServerSideDatasource,
  GridApi,
  ColumnApi,
  GridReadyEvent,
} from "ag-grid-community";
//import "ag-grid-enterprise";
//import { GridOptionsService, AgRichSelect } from "ag-grid-enterprise";

const errorStore = useErrorStore();

type ColumnDef = {};
type Props = {
  columnDefs: ColumnDef[];
  dataFunction: Function;
  staticLength?: boolean;
  rowGroupPanelShow?: string;
  groupAggFiltering?: boolean;
  rowModelType?: string;
  tableOptions?: any;
};

async function refreshClientSideTable() {
  gridApi.value?.showLoadingOverlay();
  clientSideRowData.value = (await getNewData({})).data;
  gridApi.value?.hideOverlay();
}

async function refreshServerSideTable(route: string[] | undefined) {
  gridApi.value?.refreshServerSide({ route: route, purge: true });
}

defineExpose({ refreshClientSideTable, refreshServerSideTable });

const clientSideRowData = ref();

const props = withDefaults(defineProps<Props>(), {
  rowGroupPanelShow: "never",
  groupAggFiltering: false,
  rowModelType: "serverSide",
});
const emit = defineEmits(["rowClick"]);

async function getNewData(request: any) {
  const tableData = await props.dataFunction(request);
  return tableData;
}

// default column settings. applys to all.
const defaultColDef = ref({
  flex: 1,
  minWidth: 200,
  sortable: true,
  resizable: true,
});
const gridApi = ref<null | GridApi>(null);
const gridColumnApi = ref<null | ColumnApi>(null);

function wipeTable() {}

async function onGridReady({ api, columnApi }: GridReadyEvent) {
  if (props.rowModelType === "serverSide") {
    gridApi.value = api;
    gridColumnApi.value = columnApi;
    api.setServerSideDatasource(await datasource());
  } else {
    gridApi.value = api;
    try {
      clientSideRowData.value = (await getNewData({})).data;
    } catch (e: any) {
      console.error(e);
      errorStore.logError({ axiosError: e, backup: "Error with form data" });
    }
  }
}

async function datasource(): Promise<IServerSideDatasource> {
  return {
    getRows: ({ success, request, fail }) => {
      if (success) {
        getNewData(request).then((data: any) => {
          // if not set to a static size
          if (!props.staticLength) {
            // if the api returns with the paging object
            if (data.paging) {
              success({
                rowData: data.data,
                rowCount: data.paging.totalCount,
              });
            }
            if (data.totalCount) {
              // if the total count is just included with the data
              success({
                rowData: data.data,
                rowCount: data.totalCount,
              });
            }
            if (data?.headers["x-pagination"]) {
              // try and get paging from the headers x-pagination
              try {
                const pagination = JSON.parse(data.headers["x-pagination"]);
                const dataWithPagination = {
                  ...data,
                  ...pagination,
                };
                success({
                  rowData: data.data,
                  rowCount: dataWithPagination.totalCount,
                });
              } catch {
                console.error("failed to get pagination data");
              }
            }
          } else {
            success({
              rowData: data.data,
              rowCount: data.data.length,
            });
          }
        });
      } else {
        fail();
      }
    },
  };
}
onBeforeUnmount(() => {
  gridApi.value = null;
  gridColumnApi.value = null;
});
</script>
<style>
.basic_table {
  .ag-root-wrapper {
    border-radius: 10px !important;
    border: none;
    box-shadow: var(--shadow_1);
  }
}
</style>
