<template>
  <section id="active_locations">
    <div class="top">
      <div>
        <div class="directions">
          After selecting Month/Year above Click a Client below to generate a
          report
        </div>
        <div id="inputs_grid">
          <label class="input_label">
            Month / Year
            <input
              @keydown.prevent
              type="month"
              class="cb_input"
              id="start"
              name="start"
              min="2015-01"
              :max="addAMonth(today())"
              v-model="monthYear"
              @change="updateTable()"
            />
          </label>
          <label class="input_label">
            Client Select
            <select
              class="cb_input"
              v-model="selectedClient"
              @change="updateTable()"
            >
              <option disabled value="0">Select a client</option>
              <option
                v-for="(reseller, index) in resellers"
                :value="reseller.clientApiIdentifier"
                :key="`reseller${index}`"
              >
                {{ reseller.name }}
              </option>
              <option v-if="!resellers.length" disabled>No Resellers</option>
            </select>
          </label>
          <div class="info" v-if="reportStart && reportEnd">
            <h4>Start: {{ reportStart }} - End: {{ reportEnd }}</h4>
          </div>
        </div>
      </div>
    </div>
    <BasicTable
      row-model-type="clientSide"
      :dataFunction="tableUpdate"
      :columnDefs="colDefs"
      ref="tableRef"
    ></BasicTable>
  </section>
</template>

<script lang="ts" setup>
import { BasicTable } from "@/components/tables";
import { ref } from "vue";
import { getActiveLocations } from "@/services/reportingService";
import { today, dateParts, currentYm, addAMonth } from "@/helpers";
import clients from "@/assets/Reporting/clients.json";

const reportStart = ref("");
const reportEnd = ref("");
const absoluteTotal = ref(0);
const monthYear = ref<string>(currentYm.value);

const selectedClient = ref("0");

// Helpers for tenant identifiers from JSON asset
const env = (baseEnvUrl: string) => {
  if (
    baseEnvUrl.toLowerCase().includes("dev") ||
    baseEnvUrl.toLowerCase().includes("localhost")
  ) {
    return "dev";
  } else if (baseEnvUrl.toLowerCase().includes("uat")) {
    return "uat";
  } else {
    return "prod";
  }
};
const baseEnvUrl = import.meta.env.VITE_API_BASE_URL;
const resellers = clients[env(baseEnvUrl)];

const tableRef = ref();
async function tableUpdate() {
  if (selectedClient.value === "0" || !monthYear.value) return { data: [] };
  const data = await getActiveLocations(
    dateParts(monthYear.value).tm,
    dateParts(monthYear.value).nm,
    selectedClient.value,
  );
  updateUiDate(data.data);
  return data;
}

function updateTable() {
  tableRef.value?.refreshClientSideTable();
}

function updateUiDate(data: any[]) {
  //Retrieve absolute total counts + Update refs
  absoluteTotal.value = data.length;
  reportStart.value = new Date(
    dateParts(monthYear.value).tm,
  ).toLocaleDateString("en-US", {
    timeZone: "UTC",
  });
  reportEnd.value = new Date(dateParts(monthYear.value).nm).toLocaleDateString(
    "en-US",
    {
      timeZone: "UTC",
    },
  );
}

const colDefs = ref([
  {
    field: "client",
    width: 350,
    floatingFilter: true,
    headerName: "Client Name",
    //suppressHeaderMenuButton: true,
    filter: "agTextColumnFilter",
  },
  {
    field: "clientApiIdentifier",
    width: 450,
    floatingFilter: true,
    headerName: "Client Api Identifier",
    //suppressHeaderMenuButton: true,
    filter: "agTextColumnFilter",
  },
  {
    field: "location",
    width: 450,
    floatingFilter: true,
    headerName: "Location",
    //suppressHeaderMenuButton: true,
    filter: "agTextColumnFilter",
  },
  {
    field: "count_Process_Flow_id",
    headerName: "Process Flows Created",
    width: 450,
    //suppressHeaderMenuButton: true
  },
]);
</script>

<style scoped>
.top {
  display: flex;
  gap: calc(var(--gap) * 2);
  align-items: center;
}
#active_locations {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: var(--gap);
}
#inputs_grid {
  display: flex;
  gap: var(--gap);
  padding-top: var(--gap);
  align-items: end;
}

.info {
  h1,
  h2,
  h3,
  h4 {
    font-weight: 500;
  }
}
.response_holder {
  background: var(--color_background_card);
  padding: calc(var(--gap) * 2) var(--gap);
  display: grid;
  .section {
    width: clamp(300px, 100%, 1000px);
  }
  border-radius: calc(var(--border_radius) / 2);
}
.error-display {
  display: none;
}
.reseller-grid {
  box-sizing: border-box;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(auto-fit, milmax(50px, 270px));
  margin: var(--gap) 0px;
  > a {
    text-align: center;
  }
}
.select-reseller {
  > a {
    color: green;
  }
}

.spinner {
  justify-self: start;
  height: 300px;
}

.totalCount {
  margin: var(--gap) 0px;
  align-content: right;
}
.input_label {
  display: grid;
  gap: 5px;
  font-weight: bold;
  font-size: 0.8rem;
}
</style>
