<template>
  <section id="completed_forms">
    <div class="cf_top">
      <div id="inputs_grid">
        <label class="input_label">
          Month / Year
          <input
            @keydown.prevent
            type="month"
            class="cb_input"
            id="start"
            name="start"
            min="2015-01"
            :max="addAMonth(today())"
            v-model="monthYear"
            @input="updateTable()"
          />
        </label>

        <label class="input_label">
          Type Select
          <select
            class="cb_input"
            v-model="selectedType"
            @change="updateTable()"
          >
            <option
              v-for="(option, index) in options"
              :value="option.id"
              :key="`type${index}`"
            >
              {{ option.name }}
            </option>
            <option v-if="!options.length" disabled>No Options</option>
          </select>
        </label>
      </div>
      <section
        :class="errorStore.errors.size != 0 ? 'error-display' : 'section'"
      >
        <h4 class="info">{{ reportStart }} through {{ reportEnd }}</h4>
      </section>
    </div>
    <div class="cf_bot">
      <BasicTable
        ref="tableRef"
        row-model-type="clientSide"
        :dataFunction="tableUpdate"
        :columnDefs="colDefs"
      ></BasicTable>
    </div>
  </section>
</template>

<script lang="ts" setup>
import { ref, computed } from "vue";
import { useErrorStore } from "@/stores/errors";
import { getServiceFormCount } from "@/services/reportingService";
import { BasicTable } from "@/components/tables";
import { today, dateParts, currentYm, addAMonth } from "@/helpers";
import type { ValueGetterParams } from "ag-grid-community";

const errorStore = useErrorStore();

const tableRef = ref();

const monthYear = ref(currentYm.value);
const selectedType = ref("sym");
const reportStart = computed(() =>
  new Date(dateParts(monthYear.value).tm).toLocaleDateString("en-US", {
    timeZone: "UTC",
  }),
);
const reportEnd = computed(() =>
  new Date(dateParts(monthYear.value).nm).toLocaleDateString("en-US", {
    timeZone: "UTC",
  }),
);

function updateTable() {
  tableRef.value?.refreshClientSideTable();
}

// form option selection list
const options = [
  {
    name: "Symmetry",
    id: "sym",
  },
  {
    name: "Form i9",
    id: "formi9",
  },
];

async function getData(offset: number) {
  const rows = 100;
  const resData = (
    await getServiceFormCount(
      dateParts(monthYear.value).tm,
      dateParts(monthYear.value).nm,
      selectedType.value === "sym",
      selectedType.value === "formi9",
      offset * rows,
      rows,
    )
  ).data;
  return resData;
}

type RecursiveResponse = ({
  offset,
  info,
  acc,
}: {
  offset: number;
  info: { totalCount: number };
  acc: any[];
}) => Promise<any[] | undefined>;

const recursiveResponse: RecursiveResponse = async (args) => {
  const { offset, info, acc } = args;
  if (info.totalCount !== acc.length) {
    const resData = await getData(offset);
    return await recursiveResponse({
      offset: offset + 1,
      info: resData,
      acc: [...acc, ...resData.data],
    });
  } else {
    return acc;
  }
};

async function tableUpdate() {
  const initData = await getData(0);
  const data = await recursiveResponse({
    offset: 1,
    info: initData,
    acc: initData.data,
  });
  return { data: data };
}

function dateValueFormatterComplete(params: ValueGetterParams) {
  const date = new Date(params.data.completionDate);
  return date.toLocaleDateString("en-US");
}

function dateValueFormatterDue(params: ValueGetterParams) {
  const date = new Date(params.data.dueDate);
  return date.toLocaleDateString("en-US");
}

const dateFilterParams = {
  suppressAndOrCondition: true,
  comparator: (filterDate: any, cellValue: any) => {
    const dateAsString = cellValue.slice(0, 10);
    const filterDateAsString = filterDate.toISOString().slice(0, 10);

    if (dateAsString === filterDateAsString) {
      return 0;
    }
    if (dateAsString < filterDateAsString) {
      return -1;
    }
    if (dateAsString > filterDateAsString) {
      return 1;
    }
  },
};

const colDefs = ref([
  {
    field: "dueDate",
    width: 150,
    headerName: "Due Date",
    filter: "agDateColumnFilter",
    filterParams: dateFilterParams,
    valueFormatter: dateValueFormatterDue,
  },
  {
    field: "formName",
    width: 250,
    floatingFilter: true,
    suppressHeaderMenuButton: true,
    filter: "agTextColumnFilter",
  },
  {
    field: "candidateApiIdentifier",
    width: 200,
    floatingFilter: true,
    suppressHeaderMenuButton: true,
    filter: "agTextColumnFilter",
  },
  {
    field: "userApiIdentifier",
    width: 150,
    floatingFilter: true,
    suppressHeaderMenuButton: true,
    filter: "agTextColumnFilter",
  },
  {
    field: "formStatus",
    width: 150,
    floatingFilter: true,
    suppressHeaderMenuButton: true,
    filter: "agTextColumnFilter",
  },
  {
    field: "processFlowName",
    width: 250,
    floatingFilter: true,
    suppressHeaderMenuButton: true,
    filter: "agTextColumnFilter",
  },
  {
    field: "completionDate",
    width: 200,
    filter: "agDateColumnFilter",
    filterParams: dateFilterParams,
    valueFormatter: dateValueFormatterComplete,
  },
]);
</script>

<style scoped>
#completed_forms {
  display: grid;
  gap: var(--gap);
  grid-template-rows: auto 1fr;
  .cf_top {
    display: flex;
    gap: var(--gap);
    align-items: end;
  }
  .cf_bot {
    display: grid;
  }
}

.info {
  font-weight: 500;
}
#inputs_grid {
  display: flex;
  gap: var(--gap);
  .input_label {
    display: grid;
    gap: 5px;
    font-weight: bold;
    font-size: 0.8rem;
  }
}
.date-selector {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, 250px));
  justify-content: center;
}
.error-display {
  display: none;
}
</style>
