<template>
  <section id="client_view">
    <BasicTable
      row-model-type="clientSide"
      :dataFunction="tableUpdate"
      :columnDefs="colDefs"
      @row-click="handleRowClick"
    ></BasicTable>
  </section>
</template>

<script lang="ts" setup>
import { ref } from "vue";
import { useErrorStore } from "@/stores/errors";
import { getClients } from "@/services/clientsService";
import { AdminLink } from "@/services/clickHubService";
import "ag-grid-community/styles/ag-grid.css";
import "ag-grid-community/styles/ag-theme-alpine.css";
import type { ValueGetterParams } from "ag-grid-community";

import { BasicTable } from "@/components/tables";

const errorStore = useErrorStore();

const dateFilterParams = {
  suppressAndOrCondition: true,
  comparator: (filterDate: any, cellValue: any) => {
    const dateAsString = cellValue.slice(0, 10);
    const filterDateAsString = filterDate.toISOString().slice(0, 10);
    if (dateAsString === filterDateAsString) {
      return 0;
    }
    if (dateAsString < filterDateAsString) {
      return -1;
    }
    if (dateAsString > filterDateAsString) {
      return 1;
    }
  },
};

const colDefs = ref([
  {
    field: "name",
    width: 300,
    sort: "asc",
    headerName: "Company Name",
    floatingFilter: true,
    suppressHeaderMenuButton: true,
    filter: "agTextColumnFilter",
  },
  {
    field: "referenceName",
    width: 300,
    headerName: "Reference Name",
    floatingFilter: true,
    suppressHeaderMenuButton: true,
    filter: "agTextColumnFilter",
  },
  {
    field: "id",
    width: 250,
    floatingFilter: true,
    suppressHeaderMenuButton: true,
    filter: "agTextColumnFilter",
  },
  {
    field: "instance",
    width: 150,
    floatingFilter: true,
    suppressHeaderMenuButton: true,
    filter: "agTextColumnFilter",
  },
  {
    field: "createdOn",
    width: 150,
    filter: "agDateColumnFilter",
    filterParams: dateFilterParams,
    valueFormatter: dateValueFormatter,
  },
]);

async function tableUpdate() {
  try {
    const data = await getClients();
    return data;
  } catch (e: any) {
    errorStore.logError(
      e?.response?.data
        ? `Status: ${e?.response?.data?.status} Call: ${e?.response?.config?.url}`
        : "oops! Something went wrong",
    );
  }
}

async function handleRowClick(payload: any) {
  const rowData = payload.data;
  var response = await AdminLink(rowData.id, rowData.instance);
  window.open(response.link, "_blank");
}

function dateValueFormatter(params: ValueGetterParams) {
  const date = new Date(params.data.createdOn);
  return date.toLocaleDateString("en-US");
}
</script>
<style scoped>
#client_view {
  display: grid;
  height: 100%;
}
.client_row {
  text-align: left;
}
</style>
