<template>
  <ParticleBackground
    title="Welcome"
    blerb="to click hub :D"
  ></ParticleBackground>
</template>

<script setup lang="ts">
import { ParticleBackground } from "@/components/decor";
</script>

<style lang="scss" scoped>
#home_content {
  display: grid;
  justify-items: center;
}
h1 {
  background: linear-gradient(45deg, $secondary_color, $primary_color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6rem;
  text-align: center;
}
</style>
