<template>
  <section id="reporting">
    <div class="report-links">
      <linkCard
        v-for="(link, index) in links"
        :title="link.title"
        :path="link.path"
        :key="`linkCard${index}`"
      ></linkCard>
    </div>
  </section>
</template>

<script setup lang="ts">
import { LinkCard } from "@/components/ui";

const links = [
  { title: "Candidate Count", path: "/internalReports/candidateCounts" },
  { title: "Active Locations", path: "/internalReports/activeLocations" },
  {
    title: "Symmetry Completions",
    path: "/internalReports/symmetryCompletions",
  },
];
</script>

<style scoped>
#reporting {
  display: grid;
  place-self: center;
}
.report-links {
  margin-top: -5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-self: center;
  width: clamp(300px, 70vw, 1500px);
  gap: var(--gap);
  height: 100px;
}
</style>
