<template>
  <section id="login_view">
    <div id="login_background">
      <ParticleBackground :particle-options="options"></ParticleBackground>
    </div>
    <CbSpinner v-if="loading" class="spinner"></CbSpinner>
    <section v-else id="login_screen">
      <FlexibleLogo id="login_logo"></FlexibleLogo>
      <article id="login_card" class="card">
        <form @submit.stop.prevent="onSubmit">
          <div id="form_inputs">
            <div class="input_holder">
              <label for="username" class="d-block">User Name</label>
              <input id="username" required v-model="form.username" />
            </div>
            <div class="input_holder">
              <label for="password">Password</label>
              <input
                v-model="form.password"
                type="password"
                id="password"
                autocomplete="on"
              />
            </div>
          </div>
          <UniversalButton type="submit" id="sign_in_button">
            Sign In
          </UniversalButton>
        </form>
      </article>
    </section>
  </section>
</template>

<script setup lang="ts">
import { ref } from "vue";
import { useRouter } from "vue-router";
import { useAuthStore } from "@/stores/auth";
import { useErrorStore } from "@/stores/errors";
import UniversalButton from "@/components/UniversalButton.vue";
import CbSpinner from "@/components/CbSpinner.vue";
import { Login, signedIn } from "@/services/clickHubService";
import { ParticleBackground } from "@/components/decor";
import FlexibleLogo from "@/components/FlexibleLogo.vue";

const auth = useAuthStore();
const errorStore = useErrorStore();
const router = useRouter();
const loading = ref(false);

const form = ref({ username: "", password: "" });

async function onSubmit() {
  loading.value = true;
  try {
    // Get token
    let tokenRes = await Login(form.value.username, form.value.password);
    // Authorization
    let res = await signedIn(tokenRes.accessToken);

    if (res === 200) {
      auth.setAuthValues(tokenRes);
      errorStore.clearErrors();
      router.push({ path: "/" });
    }
  } catch (e: any) {
    errorStore.logError({
      axiosError: e,
      backup: `oops! Something went wrong - Additional information: ${e}`,
    });
  } finally {
    loading.value = false;
  }
}
const options = {
  fpsLimit: 60,
  particles: {
    number: {
      value: 60,
    },
    shape: {
      type: "circle",
    },
    opacity: {
      value: 0.5,
    },
    size: {
      value: 450,
      random: {
        enable: true,
        minimumValue: 100,
      },
    },
    move: {
      enable: true,
      speed: 2,
      direction: "top",
      outModes: {
        default: "out",
        top: "destroy",
        bottom: "none",
      },
    },
  },
  themes: [
    {
      name: "light",
      default: {
        value: true,
        mode: "light",
      },
      options: {
        background: {
          color: "#fff",
        },
        particles: {
          color: {
            value: ["#0c7489", "#00AF53", "#0e5387"],
          },
        },
      },
    },
    {
      name: "dark",
      default: {
        value: true,
        mode: "dark",
      },
      options: {
        background: {
          color: "#fff",
        },
        particles: {
          color: {
            value: ["#0c7489", "#00AF53", "#0e5387"],
          },
        },
      },
    },
  ],
  emitters: {
    direction: "top",
    position: {
      x: 50,
      y: 150,
    },
    rate: {
      delay: 1.3,
      quantity: 2,
    },
    size: {
      width: 100,
      height: 0,
    },
  },
};
</script>

<style scoped>
.logo {
  width: 200px;
  height: 200px;
  background: red;
}
#login_view {
  display: grid;
  height: 100%;
  background: var(--teal);
}

#login_background {
  grid-area: 1/1/1/1;
}
.spinner {
  grid-area: 1/1/1/1;
  place-self: center;
}
#login_screen {
  grid-area: 1/1/1/1;
  grid-template-columns: 1fr;
  display: grid;
  place-self: center;
  place-items: center;
  gap: 1rem;
  #login_logo {
    position: relative;
    width: 300px;
  }
  #login_card {
    color: white;
    z-index: 100;
    place-self: center;
    padding: var(--gap);
    aspect-ratio: 2/1;
    display: grid;
    gap: var(--gap);
    width: clamp(250px, 100vw, 500px);
    border: none;
    border-radius: var(--border_radius);
    background-color: hsla(0, 1%, 100%, 0.2);
    backdrop-filter: blur(8px);
    text-align: left;
    > input {
      color: black;
      outline: none;
      border-radius: 3px;
      display: block;
      border: none;
      backdrop-filter: blur(8px);
      padding: 0.6rem;
    }
  }
}

form {
  #sign_in_button {
    align-self: center;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    color: white;
    box-shadow: none;
    transition: 0.3s;
    padding: 0.8rem;
  }
}
</style>
