<template>
  <section class="migration">
    <div>
      <h1 class="tools-subtitle">Global Standard Form Migration Tool</h1>
      <p class="tools-info">
        This will replace the ClickBump & Support Tools that would pull form
        templates from a source environment instance and publish them to a
        target environment instance. The main use is for new Client database
        instances which may need the global forms.
      </p>
    </div>

    <form @submit.stop.prevent="onSubmit">
      <CbSpinner v-show="loading"></CbSpinner>
      <div v-show="!loading" class="flex-container">
        <div
          v-for="(card, index) in formCardsData"
          :key="`card${index}`"
          class="flex-item migrate_card"
        >
          <h2>{{ card.title }}</h2>
          <label
            v-for="(input, inputIndex) in card.inputs"
            :key="`input${inputIndex}`"
            class="card_label"
          >
            <span>
              {{ input.label
              }}<span style="color: red">{{
                input.required ? "*" : ""
              }}</span></span
            >
            <select
              v-if="input.type === 'dropdown'"
              class="form-control cb_input"
              :required="input.required"
              v-model="input.model.value"
            >
              <option
                v-for="(option, optionIndex) in input.options"
                :key="`option${optionIndex}`"
                :value="option.value"
              >
                {{ option.name }}
              </option>
            </select>
            <input
              v-else
              class="cb_input"
              :type="input.type"
              v-model="input.model.value"
              autocomplete="new-password"
              required
            />
            <span class="help-text" v-if="input.info">{{ input.info }}</span>
          </label>
        </div>
      </div>
      <DefaultButton type="submit" id="migrate"> Migrate </DefaultButton>
    </form>
    <!-- <pre v-if="responseJson.data">{{ responseJson.data }}</pre> -->
    <div v-if="responseJson.data" class="response-list">
      <h3>
        TotalGlobalFormCount: {{ responseJson.data.totalGlobalFormCount }}
      </h3>
      <h3>TotalSuccess: {{ responseJson.data.totalSuccess }}</h3>
      <h3>TotalErrors: {{ responseJson.data.totalErrors }}</h3>
      <div
        v-for="(resp, index) in responseJson.data.migrateFormResponses"
        :key="`resp${index}`"
      >
        <h4 :class="{ success: resp.success, failure: !resp.success }">
          {{ resp.formIdentifier }}
        </h4>
        <div v-if="resp.success">
          <pre class="pre" v-if="resp.formRevision">{{
            resp.formRevision
          }}</pre>
        </div>
        <div v-else>
          <div v-if="resp.fatalException">
            FatalException: {{ resp.fatalException.message }}
          </div>
          <div v-if="resp.errors">
            Errors:
            <div v-for="(e, errIndex) in resp.errors" :key="`error${errIndex}`">
              error: {{ e.error.errorMessage }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script setup lang="ts">
import { ref, reactive, computed } from "vue";
import type { Ref } from "vue";
import UniversalButton from "@/components/UniversalButton.vue";
import CbSpinner from "@/components/CbSpinner.vue";
import type { GlobalFormModel } from "@/services/formService";
import { useErrorStore } from "@/stores/errors";
import { migrateAllGlobalForms } from "@/services/formService";
import { DefaultButton } from "@/components/ui";

const errorStore = useErrorStore();
const loading = ref(false);
const responseJson = ref<any | undefined>({ data: null });

const sourceEnv = ref("");
const sourceClientApiIdentifier = ref("");
const sourcePublicApiKey = ref("");
const sourceUnstableApiKey = ref("");
const targetEnv = ref("");
const targetClientApiIdentifier = ref("");
const targetPublicApiKey = ref("");
const targetUnstableApiKey = ref("");

const form = computed<GlobalFormModel>(() => {
  return {
    sourceEnv: sourceEnv.value,
    sourceClientApiIdentifier: sourceClientApiIdentifier.value,
    sourcePublicApiKey: sourcePublicApiKey.value,
    sourceUnstableApiKey: sourceUnstableApiKey.value,
    targetEnv: targetEnv.value,
    targetClientApiIdentifier: targetClientApiIdentifier.value,
    targetPublicApiKey: targetPublicApiKey.value,
    targetUnstableApiKey: targetUnstableApiKey.value,
  };
});

type BaseInput = {
  model: Ref<string>;
  label: string;
  info?: string;
  required: boolean;
};

type DropdownOption = { name: string; value: string; default?: boolean };
interface DropdownInput extends BaseInput {
  type: "dropdown";
  options: DropdownOption[];
}
interface TextInput extends BaseInput {
  type: "text" | "password";
}
type Inputs = DropdownInput | TextInput;

type FormCardData = {
  title: string;
  inputs: Inputs[];
}[];

const formCardsData: FormCardData = [
  {
    title: "Source",
    inputs: [
      {
        type: "dropdown",
        model: sourceEnv,
        label: "Select Source Environement:",
        required: true,
        options: [
          { name: "Dev", value: "Dev" },
          { name: "Uat", value: "Uat" },
          { name: "Prod", value: "Prod" },
        ],
      },
      {
        type: "text",
        model: sourceClientApiIdentifier,
        label: "Source clientApiIdentifier:",
        info: "* this will resolve the correct db instance",
        required: true,
      },
      {
        type: "password",
        model: sourcePublicApiKey,
        label: "Public Api Key for Source Env:",
        required: true,
      },
      {
        type: "password",
        model: sourceUnstableApiKey,
        label: "Unstable Api Key for Source Env:",
        required: true,
      },
    ],
  },
  {
    title: "Target",
    inputs: [
      {
        type: "dropdown",
        model: targetEnv,
        label: "Select Source Environement:",
        options: [
          { name: "Dev", value: "Dev" },
          { name: "Uat", value: "Uat" },
          { name: "Prod", value: "Prod" },
        ],
        required: true,
      },
      {
        type: "text",
        model: targetClientApiIdentifier,
        label: "Source clientApiIdentifier:",
        info: "* this will resolve the correct db instance",
        required: true,
      },
      {
        type: "password",
        model: targetPublicApiKey,
        label: "Public Api Key for Source Env:",
        required: true,
      },
      {
        type: "password",
        model: targetUnstableApiKey,
        label: "Unstable Api Key for Source Env:",
        required: true,
      },
    ],
  },
];

async function onSubmit() {
  loading.value = true;
  let model = form.value;
  try {
    const migratedFormResponse = await migrateAllGlobalForms(model);
    responseJson.value.data = migratedFormResponse;
  } catch (e: any) {
    // if (e.response.status === 400 && e.response.data.message) {
    //   //validationError.value = true;
    //   responseError = e.response.data.message;
    // } else {
    errorStore.logError({
      axiosError: e,
      backup: "oops! Something went wrong",
    });
    // }
  } finally {
    loading.value = false;
  }
}
</script>

<style scoped>
.migration {
  width: 60%;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  place-self: center;
  margin-top: -5rem;
}

.card_label {
  display: grid;
}

.pre {
  font-size: 12px;
  width: 900px;
  border: 1px solid black;
  text-align: left;
  overflow: auto;
  padding: 10px;
  max-height: 100px;
}

.response-list {
  text-align: left;
  max-width: 700px;
}

.help-text {
  font-size: 12px;
}

.flex-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap);
}

.migrate_card {
  padding: var(--gap) calc(var(--gap) * 2);
  box-shadow: var(--shadow_1);
  border-radius: var(--border_radius);
  display: grid;
  grid-template-rows: auto;
  gap: 1rem;
  background: var(--color_background_card);
}

.error-text {
  color: red;
  border: 1px solid red;
}
</style>
