<template>
  <footer class="app_structure_item">
    <FlexibleLogo
      alt="logo"
      id="footer_logo"
      @click="router.push('/')"
      style="cursor: pointer"
      background-color="none"
      outline-color="white"
    >
    </FlexibleLogo>
  </footer>
</template>

<script setup lang="ts">
import { useRouter } from "vue-router";
import FlexibleLogo from "../FlexibleLogo.vue";

const router = useRouter();
</script>

<style scoped>
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--dark_grey);
  color: white;

  #footer_logo {
    width: 150px;
  }
}
</style>
