<template>
  <header class="app_structure_item">
    <FlexibleLogo
      alt="logo"
      id="header_logo"
      @click="router.push('/')"
      style="cursor: pointer"
    >
    </FlexibleLogo>
    <CircleButton
      @click="logout"
      class="custooltip_down"
      :aria-label="logout"
      data-tooltip="logout"
      :backgroundColor="'var(--color_button)'"
    >
      <PersonIcon color="white"></PersonIcon>
    </CircleButton>
  </header>
</template>
<script setup lang="ts">
import { useRouter } from "vue-router";
import { CircleButton } from "../ui";
import { useAuthStore } from "@/stores/auth";
import FlexibleLogo from "../FlexibleLogo.vue";
import { PersonIcon } from "../ui/icons";

const auth = useAuthStore();

const router = useRouter();

function logout() {
  auth.logout();
  router.replace({ name: "login" });
}
</script>

<style scoped>
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--dark_grey);
  color: white;
}
#header_logo {
  width: 150px;
}
</style>
