<template>
  <main class="app_structure_item">
    <section id="main_top" v-show="route.meta.auth">
      <div id="location_info">
        <AmBreadcrumbs :showCurrentCrumb="true" />
        <h1 v-if="!isNone(pageName)">{{ pageName.value }}</h1>
        <p v-if="!isNone(pageInfo)">{{ pageInfo.value }}</p>
      </div>
    </section>
    <article id="page_content">
      <slot></slot>
    </article>
  </main>
</template>

<script lang="ts" setup>
import { useRoute } from "vue-router";
import { computed } from "vue";
import type { Option } from "@/helpers";
import { some, none, isNone } from "@/helpers";
//import { useCurrentPageStore } from '@/stores/pageData'
import type { ComputedRef } from "vue";

//const currentPageStore = useCurrentPageStore()

const route = useRoute();
const pageName = computed<Option<string>>(() => {
  const cr = route.meta as {
    breadcrumb: {
      label: string | ComputedRef<string>;
    };
  };
  if (cr.breadcrumb) {
    if (typeof cr.breadcrumb.label === "string") {
      return some(cr.breadcrumb.label);
    } else {
      return some(cr.breadcrumb.label.value);
    }
  } else {
    return none;
  }
});

const pageInfo = computed(() => {
  if (route.meta.pageInfo) {
    return some(route.meta.pageInfo);
  } else {
    return none;
  }
});
</script>

<style scoped>
main {
  display: grid;
  grid-template-rows: auto minmax(250px, 1fr);
  grid-template-areas:
    "top"
    "bottom";
  grid-template-columns: 1fr;
  overflow-y: auto;
  padding-bottom: 0px;
}

#location_info {
  > h1 {
    margin: 0px;
    padding: 0px;
  }
}

#main_top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color_neutral);
  grid-area: top;
  padding-bottom: var(--gap);
  margin: 0 var(--gap) 0 var(--gap);
  gap: var(--gap);
  flex-wrap: wrap;
}

#utility_buttons {
  display: flex;
  gap: calc(var(--gap) / 2);
  align-self: end;
}

#page_content {
  padding: var(--gap) var(--gap) var(--gap) var(--gap);
  overflow-y: auto;
  grid-area: bottom;
  display: grid;
}
</style>

<style>
.am-breadcrumbs {
  padding: 0;
  margin: 0 !important;
  font-size: 0.8rem;
}

.am-breadcrumbs__link {
  color: var(--color_dark_accent) !important;
}

.am-breadcrumbs__link:hover {
  color: var(--color_accent) !important;
}

.am-breadcrumbs__separator {
  padding: 1px !important;
}

.am-breadcrumbs__link_current {
  color: var(--color_accent) !important;
}
</style>
