<template>
  <nav>
    <SquareButton
      class="custooltip"
      :data-tooltip="page.name"
      @click="router.push(page.path)"
      v-for="(page, index) in pages"
      :key="`navButton ${index}`"
      :aria-label="page.title"
      :backgroundColor="
        matchSquare(page.path) ? 'var(--color_button)' : 'white'
      "
    >
      <component
        :color="matchSquare(page.path) ? 'white' : 'var(--color_dark_neutral)'"
        v-if="page.name"
        :is="getIcon(page.name)"
        class="icons"
      />
    </SquareButton>
  </nav>
</template>

<script setup lang="ts">
import { SquareButton } from "@/components/ui";
import { useRoute, useRouter } from "vue-router";
import {
  CheckList,
  LocationPin,
  QuestionMark,
  BuildingIcon,
} from "@/components/ui/icons";

const router = useRouter();
const route = useRoute();

const pages = [
  { title: "Clients", path: "/clients", name: "Clients" },
  { title: "Internal Reports", path: "/internalReports", name: "Reports" },
];

function matchSquare(btnRoute: string | undefined) {
  if (!btnRoute) return;
  try {
    const routeSplit = route.fullPath.split("/");
    const firstRoute = routeSplit[1];
    return btnRoute === `/${firstRoute}`;
  } catch (e) {
    console.error(e);
  }
  return route.fullPath === btnRoute;
}

function getIcon(name: string) {
  switch (name.toLowerCase()) {
    case "clients":
      return BuildingIcon;
    case "migrate":
      return LocationPin;
    case "reports":
      return CheckList;
    case "about":
      return QuestionMark;
    default:
      return CheckList;
  }
}
</script>

<style scoped>
nav {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
.icons {
  width: 100%;
  aspect-ratio: 1/1;
}
</style>
