<template>
  <section class="app_structure_item sidebar">
    <div class="content">
      <AppNav></AppNav>
    </div>
  </section>
</template>

<script setup lang="ts">
import { AppNav } from "./";
</script>

<style scoped>
.sidebar {
  background: var(--almost_black);
}
</style>
