<template>
  <article id="counter">
    <span>{{ counterStore.count }}</span>
    <br />
    <UniversalButton id="counter_btn" @click="counterStore.increment()"
      >Increment</UniversalButton
    >
  </article>
</template>

<script lang="ts" setup>
import { useCounterStore } from "@/stores/counter";
import UniversalButton from "./UniversalButton.vue";

const counterStore = useCounterStore();
</script>

<style lang="scss" scoped>
#counter {
  display: grid;
  place-items: center;
}
#counter_btn {
  align-self: center;
  background: linear-gradient(45deg, $secondary_color, $primary_color);
  color: white;
}
</style>
