<template>
  <div class="date-selector">
    <!-- Month -->
    <Dropdown
      :options="months"
      label="Month"
      v-model="dropdownValMonth"
      @update:model-value="(e) => onMonthChange(e)"
    />
    <!-- Year -->
    <Dropdown
      :options="years"
      label="Year"
      v-model="dropdownValYear"
      @update:model-value="(e) => onYearChange(e)"
    />
  </div>
</template>

<script lang="ts" setup>
import { ref, watch } from "vue";
import { useRoute } from "vue-router";
import { useDateStore } from "@/stores/date";
import Dropdown from "@/components/common/inputs/Dropdown.vue";

const route = useRoute();
const dateStore = useDateStore();

// Date Now for Current year - 10 years to show in dropdown
const years = Array.from(
  { length: 10 },
  (_, i) => new Date().getFullYear() - i,
);

// Short Month values and number
const months = Array.from({ length: 12 }, (item, i) => {
  const obj = {
    name: new Date(0, i).toLocaleString("en-US", { month: "short" }),
    id: i + 1,
  };
  return obj;
});

const dropdownValYear = ref(years[0]);
const dropdownValMonth = ref(1);

const onYearChange = (e: number) => {
  dateStore.updateYear(dropdownValYear.value);
  dateStore.setEndYear(dropdownValYear.value);
};

const onMonthChange = (e: any) => {
  dateStore.updateMonth(dropdownValMonth.value);
};

watch(
  () => route.name,
  () => {
    dateStore.$reset();
  },
  {
    immediate: true,
  },
);
</script>

<style lang="scss" scoped>
.date-selector {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, 200px));
  justify-content: center;
}
</style>
