<template>
  <svg
    id="Layer_2"
    data-name="Layer 2"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1026.76 288.26"
  >
    <defs></defs>
    <g>
      <g>
        <g>
          <path
            class="background"
            d="M673.34,15.87v256.51c-111.98,10.59-224.33,15.88-336.67,15.88s-224.7-5.29-336.67-15.88V15.87C111.97,5.29,224.32,0,336.67,0s224.69,5.29,336.67,15.87Z"
          />
          <path
            class="outline"
            d="M336.67,0C224.32,0,111.97,5.29,0,15.87v256.51c111.97,10.59,224.32,15.88,336.67,15.88s224.69-5.29,336.67-15.88V15.87C561.36,5.29,449.01,0,336.67,0ZM656.18,256.74c-105.89,9.53-213.31,14.37-319.51,14.37s-213.63-4.84-319.52-14.37V31.52c105.89-9.54,213.31-14.37,319.52-14.37s213.62,4.83,319.51,14.37v225.22Z"
          />
          <g>
            <path
              class="inner_text"
              d="M139.67,160.51c-.55,17.86-2.21,20.99-3.68,22.47-1.29,1.1-2.95,1.84-8.84,1.66h-23.94c-5.9,0-7.55-.56-8.84-1.66-1.66-1.66-4.05-6.08-4.05-38.86s2.39-37.38,4.05-38.86c1.29-1.28,2.94-1.84,8.84-1.84h23.94c5.89,0,7.55.56,8.84,1.84,1.47,1.48,3.13,4.98,3.68,21h28.73c-.37-24.13-3.5-33.89-10.31-40.33-4.61-4.42-10.32-6.26-23.21-6.26h-39.41c-12.7,0-18.6,1.84-23.2,6.26-7.37,6.81-12.71,18.6-12.71,58.19s5.34,51.2,12.71,58.19c4.6,4.42,10.5,6.27,23.2,6.27h39.41c12.89,0,18.6-1.85,23.21-6.27,6.81-6.44,9.76-15.83,10.49-41.8h-28.91Z"
            />
            <path
              class="inner_text"
              d="M227.29,184.82v-105.15h-30.02v128.91h78.52v-23.76h-48.5Z"
            />
            <path
              class="inner_text"
              d="M302.63,79.67v128.91h30.21V79.67h-30.21Z"
            />
            <path
              class="inner_text"
              d="M443.84,160.51c-.55,17.86-2.2,20.99-3.68,22.47-1.29,1.1-2.94,1.84-8.84,1.66h-23.94c-5.89,0-7.55-.56-8.84-1.66-1.65-1.66-4.05-6.08-4.05-38.86s2.4-37.38,4.05-38.86c1.29-1.28,2.95-1.84,8.84-1.84h23.94c5.9,0,7.55.56,8.84,1.84,1.48,1.48,3.13,4.98,3.68,21h28.73c-.36-24.13-3.49-33.89-10.31-40.33-4.6-4.42-10.31-6.26-23.2-6.26h-39.41c-12.71,0-18.6,1.84-23.21,6.26-7.36,6.81-12.7,18.6-12.7,58.19s5.34,51.2,12.7,58.19c4.61,4.42,10.5,6.27,23.21,6.27h39.41c12.89,0,18.6-1.85,23.2-6.27,6.82-6.44,9.76-15.83,10.5-41.8h-28.92Z"
            />
            <path
              class="inner_text"
              d="M563.88,140.26l47.88-60.58h-33.33l-39.04,51.38h-7.92v-51.38h-30.02v128.91h30.02v-54.7h8.28l38.68,54.7h35.35l-49.9-68.33Z"
            />
          </g>
        </g>
        <g>
          <path
            class="text"
            d="M807.31,208.29h-28.89v-55.73h-35.45v55.73h-28.89V74.08h28.89v52.04h35.45v-52.04h28.89v134.21Z"
          />
          <path
            class="text"
            d="M917.96,164.44c0,28.89-14.34,46.31-46.51,46.31s-46.1-17.01-46.1-46.1v-90.56h28.89v92c0,12.09,6.35,18.44,17.21,18.44s17.42-6.35,17.42-18.44v-92h29.1v90.36Z"
          />
          <path
            class="text"
            d="M1021.63,105.23v3.28c0,13.32-6.76,24.18-21.1,29.5,16.19,3.07,26.23,14.55,26.23,30.53v3.69c0,22.54-14.55,38.52-51.02,38.52-11.47,0-21.92,0-39.95-1.02V72.85c10.65-.41,29.09-1.02,38.93-1.02,31.35,0,46.92,14.75,46.92,33.4ZM964.67,97.24v30.94h11.68c10.86,0,16.39-5.94,16.39-15.16v-2.87c0-8.61-5.33-13.32-19.05-13.32-2.87,0-5.33,0-9.02.41ZM964.67,152.56v32.17c5.53.41,7.38.41,11.68.41,15.57,0,21.31-5.94,21.31-14.96v-3.48c0-8.81-5.94-14.14-20.29-14.14h-12.7Z"
          />
        </g>
      </g>
    </g>
  </svg>
</template>

<script setup lang="ts">
type Props = {
  outlineColor?: string;
  backgroundColor?: string;
  textColor?: string;
  innerTextColor?: string;
};
withDefaults(defineProps<Props>(), {
  outlineColor: "#367da8",
  backgroundColor: "#0e5387",
  textColor: "#fff",
  innerTextColor: "#fff",
});
</script>

<style scoped>
.outline {
  fill: v-bind("outlineColor");
}

.outline,
.background,
.text {
  stroke-width: 0px;
}

.background {
  fill: v-bind("backgroundColor");
}

.text {
  fill: v-bind("textColor");
}
.inner_text {
  fill: v-bind("innerTextColor");
}
</style>
