<template>
  <div>
    <div class="header-box" v-for="value in displayHeaders">
      <!-- Capitalize first letter from Keys, add a space between camel casing-->
      {{
        value.charAt(0).toUpperCase() +
        value
          .replace(/([A-Z])/g, " $1")
          .trim()
          .slice(1)
      }}
    </div>
  </div>
</template>

<script lang="ts" setup>
const { headers } = defineProps(["headers"]);

//Remove GUIDs from Headers to display
const cleanedHeaders = (headers: Array<string>) => {
  const guidPattern = /guid/i,
    filtered = headers.filter((str) => {
      return !guidPattern.test(str);
    });
  return filtered;
};

const displayHeaders: Array<string> = cleanedHeaders(headers);
</script>

<style lang="scss" scoped>
.header-box {
  font-weight: bold;
  border-bottom: solid 1px;
}
</style>
