<template>
  <div>
    <div class="div-box" v-for="value in row">
      {{ value }}
    </div>
  </div>
</template>

<script lang="ts" setup>
const { row } = defineProps(["row"]);

// Remove Guids from display
const guidPattern = /guid/i;
Object.keys(row).forEach((key) => {
  if (guidPattern.test(key)) {
    delete row[key];
  }
});
</script>

<style lang="scss" scoped></style>
