<template>
  <button class="univ_btn">
    <slot></slot>
  </button>
</template>

<style lang="scss" scoped>
.univ_btn {
  box-shadow: $shadow;
  border-color: transparent;
  outline-color: transparent;
  padding: 5px;
  border-radius: $radius;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover {
    transform: scale(1.01);
    box-shadow: 0 0 8px 7px lightgrey, 0 0 6px 2px grey, 0 0 2px 1px black;
  }
  &:active {
    transition: 0.1s;
    box-shadow: 0 0 3px 1px black;
    transform: scale(0.99);
  }
}
</style>
