<template>
  <svg
    width="100%"
    height="100%"
    viewBox="0 0 20 16"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M18.125 1.65002C18.2908 1.65002 18.4497 1.71587 18.5669 1.83308C18.6842 1.95029 18.75 2.10926 18.75 2.27502V13.525C18.75 13.6908 18.6842 13.8498 18.5669 13.967C18.4497 14.0842 18.2908 14.15 18.125 14.15H1.875C1.70924 14.15 1.55027 14.0842 1.43306 13.967C1.31585 13.8498 1.25 13.6908 1.25 13.525V2.27502C1.25 2.10926 1.31585 1.95029 1.43306 1.83308C1.55027 1.71587 1.70924 1.65002 1.875 1.65002H18.125ZM1.875 0.400024C1.37772 0.400024 0.900805 0.597569 0.549175 0.949199C0.197544 1.30083 0 1.77774 0 2.27502L0 13.525C0 14.0223 0.197544 14.4992 0.549175 14.8509C0.900805 15.2025 1.37772 15.4 1.875 15.4H18.125C18.6223 15.4 19.0992 15.2025 19.4508 14.8509C19.8025 14.4992 20 14.0223 20 13.525V2.27502C20 1.77774 19.8025 1.30083 19.4508 0.949199C19.0992 0.597569 18.6223 0.400024 18.125 0.400024H1.875Z"
      :fill="color"
    />
    <path
      d="M8.74884 4.77498C8.74884 4.60922 8.81469 4.45025 8.9319 4.33304C9.04911 4.21583 9.20808 4.14998 9.37384 4.14998H15.6238C15.7896 4.14998 15.9486 4.21583 16.0658 4.33304C16.183 4.45025 16.2488 4.60922 16.2488 4.77498C16.2488 4.94074 16.183 5.09971 16.0658 5.21692C15.9486 5.33413 15.7896 5.39998 15.6238 5.39998H9.37384C9.20808 5.39998 9.04911 5.33413 8.9319 5.21692C8.81469 5.09971 8.74884 4.94074 8.74884 4.77498ZM6.87884 3.70748C6.93704 3.76554 6.98322 3.83451 7.01473 3.91044C7.04624 3.98637 7.06245 4.06777 7.06245 4.14998C7.06245 4.23219 7.04624 4.31359 7.01473 4.38952C6.98322 4.46546 6.93704 4.53442 6.87884 4.59248L5.00384 6.46748C4.94578 6.52569 4.87681 6.57186 4.80088 6.60337C4.72495 6.63488 4.64355 6.6511 4.56134 6.6511C4.47913 6.6511 4.39773 6.63488 4.32179 6.60337C4.24586 6.57186 4.17689 6.52569 4.11884 6.46748L3.49384 5.84248C3.43573 5.78437 3.38963 5.71539 3.35818 5.63946C3.32673 5.56354 3.31055 5.48216 3.31055 5.39998C3.31055 5.23401 3.37648 5.07484 3.49384 4.95748C3.61119 4.84012 3.77037 4.77419 3.93634 4.77419C4.10231 4.77419 4.26148 4.84012 4.37884 4.95748L4.56134 5.14123L5.99384 3.70748C6.05189 3.64928 6.12086 3.6031 6.19679 3.57159C6.27273 3.54008 6.35413 3.52386 6.43634 3.52386C6.51855 3.52386 6.59995 3.54008 6.67588 3.57159C6.75181 3.6031 6.82078 3.64928 6.87884 3.70748ZM8.74884 9.77498C8.74884 9.60922 8.81469 9.45025 8.9319 9.33304C9.04911 9.21583 9.20808 9.14998 9.37384 9.14998H15.6238C15.7896 9.14998 15.9486 9.21583 16.0658 9.33304C16.183 9.45025 16.2488 9.60922 16.2488 9.77498C16.2488 9.94074 16.183 10.0997 16.0658 10.2169C15.9486 10.3341 15.7896 10.4 15.6238 10.4H9.37384C9.20808 10.4 9.04911 10.3341 8.9319 10.2169C8.81469 10.0997 8.74884 9.94074 8.74884 9.77498ZM6.87884 8.70748C6.93704 8.76554 6.98322 8.83451 7.01473 8.91044C7.04624 8.98637 7.06245 9.06777 7.06245 9.14998C7.06245 9.23219 7.04624 9.31359 7.01473 9.38952C6.98322 9.46545 6.93704 9.53442 6.87884 9.59248L5.00384 11.4675C4.94578 11.5257 4.87681 11.5719 4.80088 11.6034C4.72495 11.6349 4.64355 11.6511 4.56134 11.6511C4.47913 11.6511 4.39773 11.6349 4.32179 11.6034C4.24586 11.5719 4.17689 11.5257 4.11884 11.4675L3.49384 10.8425C3.43573 10.7844 3.38963 10.7154 3.35818 10.6395C3.32673 10.5635 3.31055 10.4822 3.31055 10.4C3.31055 10.3178 3.32673 10.2364 3.35818 10.1605C3.38963 10.0846 3.43573 10.0156 3.49384 9.95748C3.55195 9.89937 3.62093 9.85328 3.69686 9.82183C3.77278 9.79038 3.85416 9.77419 3.93634 9.77419C4.01852 9.77419 4.09989 9.79038 4.17582 9.82183C4.25174 9.85328 4.32073 9.89937 4.37884 9.95748L4.56134 10.1412L5.99384 8.70748C6.05189 8.64928 6.12086 8.6031 6.19679 8.57159C6.27273 8.54008 6.35413 8.52386 6.43634 8.52386C6.51855 8.52386 6.59995 8.54008 6.67588 8.57159C6.75181 8.6031 6.82078 8.64928 6.87884 8.70748Z"
      :fill="color"
    />
  </svg>
</template>

<script setup lang="ts">
type Props = {
  color?: string;
};
const props = withDefaults(defineProps<Props>(), {
  color: "var(--darkGrey)",
});
</script>
