<template>
  <svg
    width="100%"
    height="100%"
    viewBox="0 0 20 18"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M20 16C20 16.552 19.553 17 19 17C18.447 17 18 16.552 18 16C18 14.346 16.654 13 15 13C14.317 13 13.668 13.234 13.144 13.649C13.688 14.645 14 15.787 14 17C14 17.552 13.553 18 13 18C12.447 18 12 17.552 12 17C12 14.243 9.757 12 7 12C4.243 12 2 14.243 2 17C2 17.552 1.553 18 1 18C0.447 18 0 17.552 0 17C0 13.14 3.141 10 7 10C8.927 10 10.673 10.783 11.94 12.046C12.809 11.374 13.879 11 15 11C17.757 11 20 13.243 20 16ZM15 6C15.552 6 16 6.449 16 7C16 7.551 15.552 8 15 8C14.448 8 14 7.551 14 7C14 6.449 14.448 6 15 6ZM15 10C16.654 10 18 8.654 18 7C18 5.346 16.654 4 15 4C13.346 4 12 5.346 12 7C12 8.654 13.346 10 15 10ZM7 2C8.103 2 9 2.897 9 4C9 5.103 8.103 6 7 6C5.897 6 5 5.103 5 4C5 2.897 5.897 2 7 2ZM7 8C9.206 8 11 6.206 11 4C11 1.794 9.206 0 7 0C4.794 0 3 1.794 3 4C3 6.206 4.794 8 7 8Z"
      :fill="color"
    />
  </svg>
</template>

<script setup lang="ts">
type Props = {
  color?: string;
};
const props = withDefaults(defineProps<Props>(), {
  color: "var(--darkGrey)",
});
</script>
