<template>
  <div class="link_card" @click="handleClick(path)">
    <span class="title">{{ title }}</span>
  </div>
</template>

<script setup lang="ts">
import { useRouter } from "vue-router";
defineProps<{
  title: string;
  path: string;
}>();

const router = useRouter();
const handleClick = (path: string) => router.push({ path: path });
</script>

<style scoped>
.link_card {
  padding: var(--gap);
  display: grid;
  border-radius: var(--border_radius);
  box-shadow: var(--shadow_1);
  background: linear-gradient(to right, var(--primary), var(--secondary));
  animation: shift 20s infinite linear;
  color: white;
  cursor: pointer;

  background-attachment: fixed;
  transition: 0.3s;
  &:hover {
    background-attachment: local;
    transform: scale(1.02);
  }

  .title {
    font-size: 1.5rem;
    font-weight: bold;
    align-self: center;
  }
}

@property --primary {
  syntax: "<color>";
  initial-value: navy;
  inherits: false;
}

@property --secondary {
  syntax: "<color>";
  initial-value: teal;
  inherits: false;
}

@keyframes shift {
  0% {
    --primary: var(--color_accent);
    --secondary: var(--teal);
  }

  50% {
    --primary: var(--teal);
    --secondary: var(--color_accent);
  }

  100% {
    --primary: var(--color_accent);
    --secondary: var(--teal);
  }
}
</style>
