<template>
  <button class="circle_button" :style="{ backgroundColor: backgroundColor }">
    <slot></slot>
  </button>
</template>

<script setup lang="ts">
type Props = {
  backgroundColor?: string;
};
const props = withDefaults(defineProps<Props>(), {
  backgroundColor: "white",
});
</script>

<style scoped>
.circle_button {
  aspect-ratio: 1/1;
  width: 35px;
  padding: 0;
  border: none;
  border-radius: 50vw;
  cursor: pointer;
  display: grid;
  place-content: center;
  padding: 5px;
}
</style>
