<template>
  <button class="cb_button" :class="buttonType"><slot></slot></button>
</template>

<script setup lang="ts">
type Props = {
  buttonColor?: string;
  buttonType?: string;
  textColor?: string;
};
const props = withDefaults(defineProps<Props>(), {
  buttonColor: "var(--color_button)",
  textColor: "white",
  buttonType: "default",
});
</script>

<style scoped>
.cb_button {
  padding: 8px 20px;
  min-width: 100px;
  border: none;
  border-radius: var(--border_radius);
  cursor: pointer;
  display: grid;
  place-content: center;
  font-weight: bold;
}

.default {
  background: v-bind(buttonColor);
  color: v-bind(textColor);
}
</style>
