<template>
  <button class="square_button" :style="{ backgroundColor: backgroundColor }">
    <slot></slot>
  </button>
</template>

<script setup lang="ts">
type Props = {
  backgroundColor?: string;
};
const props = withDefaults(defineProps<Props>(), {
  backgroundColor: "white",
});
</script>

<style scoped>
.square_button {
  aspect-ratio: 1/1;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: var(--border_radius);
  cursor: pointer;
  padding: 10px;
}
</style>
