<template>
  <dialog open id="errors" :class="[minimized ? 'minimized' : 'open']">
    <h1 id="error_title">Error!</h1>
    <button id="min" class="error_button" @click="minimized = !minimized">
      {{ minimized ? "+" : "-" }}
    </button>
    <button id="close" class="error_button" @click="errorStore.clearErrors()">
      x
    </button>
    <section id="error_list" v-if="!minimized">
      <div class="error" v-for="[key, value] in errors">
        <span class="time">{{ key }}</span>
        <span class="text">{{ value }}</span>
      </div>
    </section>
  </dialog>
</template>

<script setup lang="ts">
import { computed, ref, watch } from "vue";
import { storeToRefs } from "pinia";
import { useErrorStore } from "@/stores/errors";

const errorStore = useErrorStore();
const errorStoreRef = storeToRefs(useErrorStore());

const minimized = ref(false);
const errors = computed(() => new Map([...errorStore.errors].reverse()));

watch(
  errorStoreRef.errors,
  () => {
    if (errorStore.anyErrors) {
      minimized.value = false;
    }
  },
  {
    deep: true,
  },
);
</script>

<style scoped>
#errors {
  position: fixed;
  background: color-mix(in oklab, var(--red), transparent 50%);
  border: none;
  backdrop-filter: blur(3px);
  display: grid;
  gap: 5px;
  transition: width 0.3s ease, left 0.3s ease, filter 0.6s ease;
  box-shadow: var(--shadow_1);
  grid-template-columns: 1fr 20px 20px;
  z-index: 9999;
  margin: auto;
  top: var(--gap);
}

#min {
  grid-area: min;
  justify-self: end;
  align-self: start;
}

#close {
  grid-area: close;
  justify-self: end;
  align-self: start;
}

.minimized {
  height: 30px;
  width: 180px;
  justify-self: end;
  overflow: hidden;
  left: 30%;

  border-radius: 50vw;
  padding: 0 20px 0 20px;
  grid-template-areas: "title min close";
  filter: grayscale(100%) opacity(50%);

  #min {
    align-self: center;
  }

  #close {
    align-self: center;
  }
}

.open {
  width: clamp(300px, 80%, 500px);
  border-radius: var(--border_radius);

  grid-template-areas:
    "title min close"
    "errors errors errors";
}

#error_title {
  margin: 0;
  font-weight: 900;
  font-size: 1rem;
  text-align: left;
  justify-self: start;
  align-self: center;
}

#error_list {
  height: 200px;
  background: color-mix(in oklab, white, transparent 40%);
  padding: 1rem;
  overflow-y: auto;
  grid-area: errors;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.error {
  white-space: break-spaces;
  display: grid;
  grid-template-rows: auto 1fr;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  width: 100%;
  align-self: start;

  .time {
    font-size: 0.7rem;
    font-weight: bold;
  }
}
</style>
