<template>
  <section :class="RTL ? 'content_grid' : 'logged_out_grid'">
    <AppHeader v-if="RTL" id="app_header"> </AppHeader>
    <AppSidebar v-if="RTL" id="app_sidebar"></AppSidebar>
    <transition name="fade" mode="out-in">
      <ErrorPopup v-if="errorStore.anyErrors"></ErrorPopup>
    </transition>
    <AppMain id="app_main">
      <RouterView v-slot="{ Component }">
        <transition name="fade" mode="out-in">
          <component :is="Component"></component>
        </transition>
      </RouterView>
    </AppMain>
    <AppFooter id="app_footer"></AppFooter>
  </section>
</template>

<script setup lang="ts">
import {
  AppHeader,
  AppFooter,
  AppSidebar,
  AppMain,
} from "./components/structure";
import { computed } from "vue";
import { RouterView } from "vue-router";
import { useErrorStore } from "@/stores/errors";
import { useAuthStore } from "./stores/auth";
import ErrorPopup from "@/components/util/ErrorPopup.vue";

const auth = useAuthStore();
const errorStore = useErrorStore();

const RTL = computed(() => auth.readyToLoad);
</script>

<style lang="scss" scoped>
header {
  #logout_button {
    background: hsla(0, 0%, 100%, 0.8);
    border-color: transparent;
    outline-color: transparent;
    cursor: pointer;
  }
  nav {
    box-sizing: border-box;
    display: grid;
    gap: $gap;
    color: white;
    font-weight: bold;
    grid-template-columns: repeat(auto-fit, minmax(50px, 200px));
    justify-content: center;
    padding: $gap;
    > a {
      color: white;
      text-align: center;
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

#app_header {
  grid-area: header;
}
#app_footer {
  grid-area: footer;
}

#app_sidebar {
  grid-area: sidebar;
}
</style>
