$primary_color: #00AF53;
$secondary_color: #0c7489;
$success_color: $primary_color;
$fail_color: rgb(206, 45, 45);

$gap: 1rem;

$shadow: 0 0 5px 4px lightgrey, 0 0 3px 2px grey, 0 0 2px 1px black;
$radius: 5px;

$cb_text_background: hsl(0, 70%, 90%);
