/*base colors*/
:root {
  --almost_black: oklab(29.3% 0 0);

  --light_grey: color-mix(in oklab, var(--grey), white 40%);
  --grey: color-mix(in oklab, oklab(60% 0 0), var(--color_accent) 8%);
  --dark_grey: color-mix(in oklab, var(--grey), black 30%);

  --light_teal: color-mix(in oklab, var(--teal), white var(--colorShift));
  --teal: oklab(62.5% -0.087 -0.065);
  --dark_teal: color-mix(in oklab, var(--teal), black var(--colorShift));

  --dark_blue: #0e5387;
  --light_blue: #367da8;

  --red: oklab(56% 0.15 0.07);
  --orange: oklab(66.7% 0.18 0.134);
  --yellow: oklab(68% 0.016 0.138);
  --green: oklab(50.4% -0.12 0.011);
  --blue: oklab(48% -0.12 -0.13);
  --purple: oklab(50.8% 0.017 -0.1);
  --pink: oklab(0.6, 0.142, -0.016);
}

:root {
  --colorShift: 20%;
  --color_background: white;
  --color_background_card: color-mix(in oklab, var(--grey), white 90%);
  --color_button: var(--light_blue);
  --color_hover: var(--light_blue);
  --color_text: var(--almost_black);

  --color_accent: var(--dark_blue);
  --color_dark_accent: color-mix(
    in oklab,
    var(--color_accent),
    black var(--colorShift)
  );
  --color_secondary: var(var(--light_blue));

  --color_neutral: var(--light_grey);
  --color_dark_neutral: var(--dark_grey);

  --color_00: var(--almost_black);
  --color_01: var(--dark_grey);
  --color_02: var(--light_grey);

  --color_1_0: color-mix(in oklab, var(--color_1), black var(--colorShift));
  --color_1: var(--red);
  --color_1_-0: color-mix(in oklab, var(--color_1), black var(--colorShift));

  --color_2_0: color-mix(in oklab, var(--color_2), black var(--colorShift));
  --color_2: var(--orange);
  --color_2_-0: color-mix(in oklab, var(--color_2), black var(--colorShift));

  --color_3_0: color-mix(in oklab, var(--color_3), black var(--colorShift));
  --color_3: var(--yellow);
  --color_3_-0: color-mix(in oklab, var(--color_3), black var(--colorShift));

  --color_4_0: color-mix(in oklab, var(--color_4), black var(--colorShift));
  --color_4: var(--green);
  --color_4_-0: color-mix(in oklab, var(--color_4), black var(--colorShift));

  --color_5_0: color-mix(in oklab, var(--color_5), black var(--colorShift));
  --color_5: var(--teal);
  --color_5_-0: color-mix(in oklab, var(--color_5), black var(--colorShift));

  --color_6_0: color-mix(in oklab, var(--color_6), black var(--colorShift));
  --color_6: var(--purple);
  --color_6_-0: color-mix(in oklab, var(--color_6), black var(--colorShift));

  --color_7_0: color-mix(in oklab, var(--color_7), black var(--colorShift));
  --color_7: var(--pink);
  --color_7_-0: color-mix(in oklab, var(--color_7), black var(--colorShift));
}

/*prefers dark colors
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--darkGrey);
    --color-background-card: var(--lightGrey);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(white);
  }
      border: 1px solid black;
}
*/

/*design things*/
:root {
  --gap: 1rem;
  --border_radius: 5px;
  --static_items_size: 70px;
  --nav_bar_width: calc(var(--static_items_size) + 20px);
}

/*shaodw heights*/
:root {
  --shadow_1: 0 0 2px 1px var(--light_grey);
}

/*Z index layers*/
:root {
  --layer_1: 50;
  --layer_2: 100;
  --layer_3: 150;
  --layer_4: 200;
  --layer_5: 250;
  --layer_6: 300;
  --layer_7: 350;
  --layer_8: 400;
  --layer_9: 450;
  --layer_10: 500;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --scale: 0;
  --arrow-size: 10px;
  --tooltip-color: linear-gradient(
    45deg,
    color-mix(in oklab, var(--color_accent), black 60%),
    color-mix(in oklab, var(--color_accent), black 70%)
  );
}

.custooltip {
  position: relative;
}

.custooltip::before,
.custooltip::after {
  position: absolute;
  top: -0.25rem;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(var(--translate-y, 0))
    scale(var(--scale));
  transform: translateX(-50%) translateY(var(--translate-y, 0))
    scale(var(--scale));
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
  -webkit-transition: 100ms -webkit-transform ease-in-out;
  transition: 100ms -webkit-transform ease-in-out;
  transition: 100ms transform ease-in-out;
  transition:
    100ms transform ease-in-out,
    100ms -webkit-transform ease-in-out;
}
.custooltip::before {
  --translate-y: calc(-100% - var(--arrow-size));
  content: attr(data-tooltip);
  color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  text-align: center;
  font-size: 0.8rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 200%;
  background: var(--tooltip-color);
  line-height: 1.2;
  pointer-events: none;
}
.custooltip:hover::before,
.custooltip:hover::after {
  --scale: 1;
}
.custooltip::after {
  pointer-events: none;
  --translate-y: calc(-1 * var(--arrow-size));
  content: "";
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--tooltip-color);
  -webkit-transform-origin: top center;
  transform-origin: top center;
}
.custooltip_down {
  position: relative;
}
.custooltip_down::before {
  position: absolute;
  top: -0.25rem;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(var(--translate-y, 0))
    scale(var(--scale)) rotate(180deg);
  transform: translateX(-50%) translateY(var(--translate-y, 0))
    scale(var(--scale));
  -webkit-transform-origin: bottom center;
  transform-origin: top center;
  -webkit-transition: 100ms -webkit-transform ease-in-out;
  transition: 100ms -webkit-transform ease-in-out;
  transition: 100ms transform ease-in-out;
  transition:
    100ms transform ease-in-out,
    100ms -webkit-transform ease-in-out;
}
.custooltip_down::before {
  --translate-y: calc(100% + var(--arrow-size));
  content: attr(data-tooltip);
  color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  text-align: center;
  font-size: 0.8rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 200%;
  background: var(--tooltip-color);
  line-height: 1.2;
  pointer-events: none;
}
.custooltip_down:hover::before,
.custooltip_down:hover::after {
  --scale: 1;
}
