@import "base.css";

.cb_input {
  border-radius: var(--border_radius);
  height: 30px;
  outline: 1px solid var(--par_light_grey);
  transition: 0.2s ease-in-out;
  border: none;
  outline: 1px solid
    color-mix(
      in oklab,
      color-mix(in oklab, var(--color_accent), var(--dark_grey)),
      transparent 50%
    );
  padding: 4px 8px;
  box-sizing: border-box;
  accent-color: var(--color_accent);
  &:where(button, input[type="button"]) {
    --_color_button: var(--color_button, white);
    background: var(--_color_button);
    cursor: pointer;
  }
  &:focus {
    outline: 2px solid color-mix(in oklab, var(--color_accent), transparent 40%);
  }
  &:hover {
    outline: 2px solid color-mix(in oklab, var(--color_accent), transparent 60%);
  }
}
