@import "./variables.scss";
@import "./normalize.scss";
@import "./base.css";
@import "./inputs.css";
html {
  font: 1em sans-serif;
}

#app {
  background: linear-gradient(
    to bottom right,
    color-mix(in oklab, var(--color_accent), var(--color_background) 90%),
    color-mix(in oklab, var(--color_dark_accent), var(--color_background) 90%),
    color-mix(in oklab, var(--color_4), var(--color_background) 90%)
  );
}

form {
  display: grid;
  gap: $gap;
  #form_inputs {
    display: grid;
    width: 100%;
    gap: $gap;
    .input_holder {
      display: grid;
    }
  }
  #sign_in_button {
    align-self: center;
    background: linear-gradient(45deg, $secondary_color, $primary_color);
    color: white;
  }
}

.success {
  color: $success_color;
}
.failure {
  color: $fail_color;
}

.content_grid {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  grid-template-columns: auto 1fr;
  grid-template-rows: 80px 1fr 80px;
  height: 100vh;
}
.logged_out_grid {
  display: grid;
  grid-template-areas:
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 80px;
  height: 100vh;
}

.app_structure_item {
  padding: 1rem 1.2rem;
  z-index: 1;
}

.item_grid > .content {
  grid-column: out;
}
