<!-- Usage:
        <Dropdown 
            :options="options" --Array of string or Array of Object with keys of name and id
            label="Select Form Type" -- label/name attribute
            @update:model-value="(e) => (selectedOption = e)" -- change event selection
        />
 -->
<template>
  <div class="dropdown-wrapper">
    <label :for="label"
      ><span :v-if="label">{{ label }} : </span></label
    >
    <select :name="label" class="options-wrapper" v-model="selectedOption">
      <option
        class="option"
        v-for="option in options"
        :key="option.id || option"
        :value="option.id || option"
      >
        {{ option.name || option }}
      </option>
    </select>
  </div>
</template>

<script lang="ts" setup>
import { ref, watch, onMounted } from "vue";

const { options, label } = defineProps(["modelValue", "options", "label"]);
const emit = defineEmits(["update:modelValue"]);

const selectedOption = ref("");

watch(selectedOption, (value) => {
  if (value) {
    emit("update:modelValue", value);
  }
});

onMounted(() => {
  selectedOption.value = options[0].id || options[0];
});
</script>

<style lang="scss" scoped>
.option:hover {
  background: #c5c5c5;
}

.dropdown-wrapper {
  margin: $gap;
}
</style>
