<template>
  <section id="lost_grid">
    <div id="lost_text">
      <h1 id="lost_title">{{ title }}</h1>
      <span id="lost_blerb">
        {{ blerb }}
      </span>
    </div>
    <vue-particles
      id="lost_background"
      :options="particleOptions || defaultOptions"
    >
    </vue-particles>
  </section>
</template>

<script setup lang="ts">
defineProps<{
  title?: string;
  blerb?: string;
  particleOptions?: { [key: string]: any };
}>();
const defaultOptions: any = {
  background: {
    color: {
      value: "#0d47a1",
    },
    opacity: 0,
  },
  fpsLimit: 120,
  interactivity: {
    events: {
      onClick: {
        enable: true,
        mode: "push",
      },
      onHover: {
        enable: true,
        mode: "repulse",
      },
      resize: true,
    },
    modes: {
      bubble: {
        distance: 400,
        duration: 2,
        opacity: 0.8,
        size: 40,
      },
      push: {
        quantity: 4,
      },
      repulse: {
        distance: 200,
        duration: 0.4,
      },
    },
  },
  particles: {
    color: {
      value: "#ffffff",
    },
    links: {
      color: "#ffffff",
      distance: 150,
      enable: true,
      opacity: 0.5,
      width: 1,
    },
    move: {
      direction: "none",
      enable: true,
      outMode: "bounce",
      random: false,
      speed: 2,
      straight: false,
    },
    number: {
      density: {
        enable: true,
        area: 800,
      },
      value: 80,
    },
    opacity: {
      value: 0.5,
    },
    shape: {
      type: "circle",
    },
    size: {
      random: true,
      value: 5,
    },
  },
  detectRetina: true,
};
</script>

<style scoped>
#lost_grid {
  display: grid;
  display: grid;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to bottom right,
    color-mix(in oklab, var(--color_accent), var(--color_background) 0%),
    color-mix(in oklab, var(--color_dark_accent), var(--color_background) 0%),
    color-mix(in oklab, var(--color_4), var(--color_background) 0%)
  );
  overflow: auto;
  z-index: 0;
}

#lost_text {
  grid-area: 1/1/1/1;
  z-index: 9999;
  color: white;
  place-self: center;
  text-align: center;
  margin-bottom: 15rem;

  #lost_title {
    font-weight: 900;
    font-size: 9rem;
    margin: 0;
    padding: 0;
  }
}

#lost_background {
  grid-area: 1/1/1/1;
}

:global(#app_body) {
}
</style>
